@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lato:wght@100;300;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: rgb(249, 249, 249);
}

a {
  text-decoration: none;
}

.logo {
  display: flex;
  flex-shrink: 1;
  font-family: 'Great Vibes', cursive;
  font-weight: 400;
  font-size: 70px;
  color: #383737;
}

.sign_section {
  padding: 0 12%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sign_section a {
  color: #8f8d8d;
  text-decoration: none;
  font-size: 1.7rem;
  padding: 12px 0;
  text-align: center;
}

.sign_section a:hover {
  color: #fff;
  background-color: #3878c2;
  border-radius: 6px;
}

.logo_container {
  text-align: center;
  background-color: rgb(249, 249, 249);
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  padding-top: 32px;
  padding-bottom: 18px;
  background-color: #3778c2;
  color: #fff;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_center {
  margin-bottom: 50px;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 18px;
  background-color: #3778c2;
  color: #fff;
  font-weight: 400;
  display: flex;
  justify-content: center;
}

.nav_sign_out {
  color: #fff;
  margin-right: 12px;
}

.nav_path {
  font-size: 1.3rem;
}

.arrow {
  height: 18px;
  margin-left: 12px;
}

.icon {
  width: 75px;
  height: 75px;
}

.reg_text_col {
  color: rgb(132, 132, 132);
  font-weight: 700;
  text-decoration: none;
  font-size: 1rem;
}

.reg_text_col_bold {
  color: rgb(89, 98, 106);
  font-weight: 900;
  text-decoration: none;
  font-size: 1rem;
}

.register {
  color: #8f8d8d;
  background-color: #fff;
  margin-top: 20px;
  padding: 0 3%;
}

.lines {
  padding: 22px 0;
  border-bottom: 1px solid #d8d4d4;
}

input {
  border: none;
  outline: none;
  background-color: #fff;
}

.sign_up_button_container {
  display: flex;
  justify-content: center;
}

.sign_up_button {
  text-decoration: none;
  padding: 8px;
  color: rgb(89, 98, 106);
  align-self: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid rgb(134, 138, 141);
  border-radius: 4px;
}

.bottom_button_container {
  background-color: #5fb523;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 4% 0;
  display: flex;
  justify-content: center;
}

.bottom_button {
  background-color: #5fb523;
  color: #fff;
  text-decoration: none;
  justify-content: center;
  padding: 12px;
  border: 1px solid #fff;
  border-radius: 2px;
  display: flex;
  align-self: center;
  margin: 0 3%;
  width: 90%;
}

.category_container {
  margin: 10px;
  background-color: #fff;
  display: flex;
}

.icon_container {
  margin: 8px;
}

.category_data_align {
  width: 100%;
}

.category_data_container {
  display: flex;
  justify-content: space-between;
  margin: 0 13px;
  padding: 13px 0;
  font-size: 0.9rem;
  border-bottom: 1px solid #f5f3f3;
}

.category_data_date {
  padding: 9px;
  font-size: 0.85rem;
}

.category_show_container {
  display: flex;
  flex-direction: column;
  margin: 9px;
  background-color: #fff;
  height: 100vh;
}

.category_show {
  padding: 9px;
}

.disp_col {
  display: flex;
  flex-direction: column;
}

.transaction_disp {
  display: flex;
  justify-content: space-between;
}

h3 {
  font-size: 0.85rem;
}

.trans_header {
  align-items: center;
  justify-content: flex-start;
  gap: 9px;
  font-size: 0.9rem;
}

.bottom_line {
  padding-bottom: 9px;
  border-bottom: 1px solid #f5f3f3;
}

.bg {
  background-color: #fff;
}

.input_container {
  justify-content: flex-start;
  gap: 15px;
}
