@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lato:wght@100;300;400;700;900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: rgb(252, 251, 250);
}

.logo {
  font-family: 'Great Vibes', cursive;
  font-weight: 400;
  font-size: 120px;
  color: #fff;
}

.sign_section {
  background-color: #3778c2;
  padding: 0 12%;
  display: flex;
  justify-content: space-between;

}

.sign_section a {
  color: rgb(252, 251, 250);
  text-decoration: none;
  font-size: 1.5rem;
  padding: 6px;
  border: 1px solid rgb(252, 251, 250);
  border-radius: 8px;
}

.logo_container {
  text-align: center;
  background-color: #3778c2;
  padding-bottom: 100vh;
  padding-top: 150px;
}

.navbar {
  padding-top: 32px;
  padding-bottom: 18px;
  background-color: #3778c2;
  color: #fff;
  font-weight: 400;
  display: flex;
  justify-content: center;
}

.register {
  color: #8f8d8d;
  background-color: #fff;
  margin-top: 20px;
  padding: 0 3%;
}

.lines {
  padding: 12px 0;
  border-bottom: 1px solid #d8d4d4;
}

input {
  border: none;
  outline: none;
}

.sign_up_button {
  background-color: #fff;
  text-decoration: none;
  padding: 8px 0;
  color: #adabab;
}