<%# <h1>Expense Index</h1>



<%@groups.each do |group|%>
<%= group.name %>
<%= image_tag group.icon %>
  <% group.expenses.each do |spend|%>
    <%@group_amount += spend.amount%>
    <%end%>
  <%=@group_amount%>  
<%end %> %>